.kindergarden-header{
	.kindergarden-banner {
    background-image: url(../images/kindergarden-header-background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    }
    .after-block{
	    .alone-butt{
			.jakor{background-color: #f0474e; }
			.alone-but-description{background: #fff; padding: 20px 0 35px 0; position: relative;
				.text-conteiner{ max-width: 570px; margin: 0 auto;
					.text-line{ display: flex; align-items: center;
						.img-wrapper{min-width: 35px; min-height: 35px; margin-right: 15px;}
						.signification{
							
						}
					}
				}
				.left-img{ position: absolute;left: -85px;top: -25px;}
				.right-img{position: absolute; right: -130px;top: -40px;}
			}
	    	
	    }
	}
  }

.under-titele-text{font-weight: bold; text-transform: uppercase; text-align: center;font-size: 18px;
	p{margin: 0;}
}

#features{padding-top: 20px;
	.mbox{
	 	.title-text{ padding-bottom: 20px;
	 		&:before{content: '';position: absolute;top: 0;left: calc(50% - 38px/2);width: 38px;height: 15px;background-image: url(../images/stars.png);}
	 		&:after{content: '';position: absolute;bottom: 0;width: 44px;height: 2px;background-color: #404040;left: calc(50% - 44px/2); 			
	 		}
	 		h2{
	 			
	 		}
	 	}
	 	.squares-container{
	 		.square-wrap{
	 			.square{
	 				.square-heading{
	 					h3{margin: 0;}
	 				}
	 				.main-contain{
	 					p{margin: 0;}
	 				}
	 			}
	 		}
	 	}
	}
}