<div class="block2-wrap" id="what-you-can">
    <div class="conteiner">
        <div class="title-text">
            <h2>занятия в интерактивной комнате </h2>
        </div>
    </div>
</div>

<div class="block3-wrap addnew">
    <div class="contein-row">
        <div class="block-image left">
            <img src="images/cherryzard.jpg" alt="">
        </div>
        <div class="block-text right-text">
            <div class="convert-texter" data-aos="fade-left" data-aos-delay="400">
                <div class="title-text">
                    <h2>интерактивная песочница </h2>
                </div>
                <div class="text-alone"> 
                    <p> <b>Интерактивная песочница SandBox </b> - современное игровое оборудование, использующая обычный песок и интерактивные технологии. Проецируемое изображение на песке взаимодействует с движениями рук, позволяя строить различные ландшафты, окрашенные в разные цвета.</p> 
                    <p>Реальная река проложенная вами на песке, настоящие горы сделанные вами, не оставят равнодушными ни детей ни взрослых.</p>
                    <p><a href="#"> http://interactive-project.ru/ </a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="contein-row last-row">
        <div class="block-text left-text">
           <div class="convert-texter" data-aos="fade-right" data-aos-delay="800">
                <div class="title-text">
                    <h2>робофутбол </h2>
                </div>
                <div class="text-alone"> 
                    <p> <b> Представьте себе небольшое футбольное поле</b> (размером со стол для аэрохоккея), на котором яростно пинают футбольный мячик роботы-жуки. </p> 
                    <p>Ими, при помощи джойстика, с несокрушимой верой в победу своей команды управляют дети… </p>
                    <p><a href="#"> http://robofootball.ru/ </a></p>
                </div>
            </div>
        </div>

        <div class="block-image right">
            <img src="images/stol11.jpg" alt="">
        </div>
    </div>
        
</div>