<div class="block3-wrap block15">
    <div class="contein-row last-row">
        <div class="block-text left-text">
            <div class="convert-texter">
                <div class="after-all"> <b>Высоким уровнем  интеллектуальной  подготовленности к школе</b> отличаются дети, умеющие сконцентрировать свое внимание, уловить связь между отдельными предметами и явлениями, выполнить задание по образцам. У них хорошо развита речь. </div>
                <div class="after-all"> <b>Эмоционально  развитый ребенок регулирует свое поведение</b> и умеет заставить себя выполнить не очень интересное для него задание. Умение общаться со сверстниками, сама потребность в этом общении – показатель социальной  зрелости ребенка. </div>
                <div class="after-all"> Причем социальному аспекту следует отводить особое внимание, так как гарантом успешности обучения в школе является умение ребенка включиться в ритм работы класса, слышать учителя и выполнять его задания. </div>
            </div>
        </div>

        <div class="block-image right">
            <img src="images/girl-15.jpg" alt="">
        </div>
    </div>
    <div class="row-middle">

        <div class="block2-wrap">
            <div class="conteiner">
                <div class="title-text">
                    <h2> На наших занятиях <span>«Скоро в школу»</span> <br /> уделяется внимание всем этим трем аспектам </h2>
                </div>
            </div>
        </div>

    </div>

    <div class="contein-row">
        <div class="block-image left">
            <img src="images/plashka-15.jpg" alt="">
        </div>
        <div class="block-text right-text">
            <div class="convert-texter">
                <div class="some-text">На занятиях:</div>
                <ul>
                    <li><b>Знакомство с чтением.</b></li>
                    <li><b>Интеллектуальные игры на логическое мышление, внимание, память.</b></li>
                    <li><b>Сообщение энциклопедических знаний об окружающем мире, сопровождающееся развитием мыслительных способностей.</b></li>
                    <li><b>Речевые игры </b> - (логопедические упражнения, игры на расширение 	словарного запаса, речевого внимания, пересказ).</li>
                    <li> <b>Работа с числами: </b> пересчет,  узнавание количественного и графического. </li>
                    <li> <b>Образа числа, решение примеров и задач.</b> </li>
                    <li> <b>Мелкая моторика, подготовка руки к письму.</b> </li>
                    <li> <b>Фонетическая ритмика.</b> </li>
                    <li><b> Продуктивные виды деятельности.</b> (лепка, аппликация, рисование, 	изготовление поделок, конструирование)</li>
                </ul>
            </div>
        </div>
    </div>
</div>