<div class="block2-wrap block14" id="school-soon">
    <div class="conteiner">
        <div class="title-text">
            <h2> скоро в школу </h2>
        </div>
        <div class="after">
            <div class="texter">
                <p> <b> В психологии детей дошкольного возраста выделяют 3 основных показателя <br/> </b> подготовленности к обучению в школе: </p>

            </div>
        </div>
    </div>
    <div class="row-for-far">
        <div class="item">
            <div class="con">
                <img src="images/far1.jpg" alt="">
            </div>
            <a href="" class="tracy-butt">
                <span>Интеллектуальный</span>
            </a>
        </div>
        <div class="item">
            <div class="con">
                <img src="images/far2.jpg" alt="">
            </div>
            <a href="" class="tracy-butt">
                <span>Эмоциональный</span>
            </a>
        </div>
        <div class="item">
            <div class="con">
                <img src="images/far3.jpg" alt="">
            </div>
            <a href="" class="tracy-butt">
                <span>Социальный</span>
            </a>
        </div>
    </div>
</div>