<div class="block2-wrap block11" id="young2">
    <div class="conteiner">
        <div class="title-text">
            <h2> Раннее развитие (3-4 года) </h2>
        </div>
        <div class="after">
            <div class="texter">
                <p> <b> Наступил возраст «почемучек»! </b></p>
                <p>Готовьтесь отвечать на самые неожиданные вопросы и запасайтесь терпением! <br/> Поддержите стремление своего ребенка узнавать новое, <br/> сохраните в нем эту природную любознательность.</p>
            </div>
        </div>
    </div>
</div>