<div class="block3-wrap">
    <div class="contein-row">
        <div class="block-image left">
            <img src="images/plashka-1.jpg" alt="">
        </div>
        <div class="block-text right-text">
            <div class="convert-texter">
                <div class="title-text">
                    <h2>LEGO &reg; Education </h2>
                </div>
                <div class="some-text">С помощью технологии <span> LEGO &reg; Education</span> задействовано 5 образовательных областей:</div>
                <ul>
                    <li>Математика для детей.</li>
                    <li>Языковые навыки.</li>
                    <li>Социально-эмоциональная сфера.</li>
                    <li>Окружающий мир.</li>
                    <li>Творческое познание окружающего мира.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row-middle">
        <div class="block-texter">
            <div class="text">
                <p> <b>На занятиях в нашем центре используются наборы<span> LEGO &reg; Education</span>,</b>  которые стимулируют развитие ребенка не только в конкретной области, но и в смежных областях, способствуют тренировке коммуникационных навыков и социализации детей, развивают творческие и мыслительные способности, помогают познавать мир, получать новые знания и учат сотрудничать с окружающими.</p>
                <p> <b>Обучение происходит в специально оборудованной интерактивной комнате. </b>Дети, под руководством опытного педагога, в игровой форме, непринужденно и естественно, получают новые знания, учатся решать нестандартные задачи, работать индивидуально и в команде.</p>
            </div>
        </div>
    </div>
    <div class="contein-row last-row">
        <div class="block-text left-text">
            <div class="convert-texter">
                <div class="head-text">Результатом занятий в нашем развивающем центре становится:</div>
                <ul>
                    <li>Образовательная и психологическая подготовка к школьному обучению.</li>
                    <li>Развитие коммуникативных навыков.</li>
                    <li>Социально-эмоциональная сфера.</li>
                    <li>Умение самостоятельно принимать решение.</li>
                    <li>Развитие креативного решения и умения находить нестандартное решение для любой задачи.</li>
                </ul>
                <div class="after-all"> <b>Наши воспитанники не только получают отличные базовые знания,</b> необходимые для успешного школьного обучения, но в них также пробуждается тяга к познанию и желание узнавать новое. </div>
            </div>
        </div>

        <div class="block-image right">
            <img src="images/plashka-2.jpg" alt="">
        </div>
    </div>
        
</div>