<div class="block6">
    <div class="conteiner">
        <div class="top-row">
            <div class="super-block">
                <p> <b>В нашем центре детей ждут веселые и полезные занятия, </b><br/> творческая и доброжелательная атмосфера, уникальные возможности для развития интеллекта и творческих способностей. </p>
                <p> <b>А после занятий дети могут отдохнуть и вдоволь набегаться на нашей современной и отлично оборудованной детской площадке!</b> </p>
            </div>
        </div>
        <div class="bottom-row">
            <div class="wrap-box">
                <div class="title-row"> Стоимость занятий <span>(Шахматы)</span> </div>
                <div class="sheets">
                    <ul>
                        <li>
                            <div class="left">Группа до <span>6</span> человек </div>
                            <div class="right"> 
                                <b>4500</b> руб/
                                <span>8</span> занятий 
                                / по <span>60</span> минут
                                 / <span>2 </span> раза в неделю
                            </div>
                        </li>
                        <li>
                            <div class="left">Группа до <span>6</span> человек </div>
                            <div class="right"> 
                                <b>3800</b> руб/
                                <span>8</span> занятий 
                                / по <span>1</span> час <span>30</span> минут 
                                / <span>1</span> раз в неделю
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="after-button">
                    <a href="#call-popup" class="supper-button fancybox-form"> 
                        <span>ЗАКАЗАТЬ</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>