<div class="block4 block10">
    <div class="conteiner">
        <div class="wrap-box"> 
            <div class="title-row"> Стоимость занятий  <span>«Скоро в школу» </span> (двухгодичное обучение): </div>
            <div class="sheets" data-aos="fade-up">
                <ul>
                    <li>
                        <div class="left">Группа до <span>6</span> человек </div> 
                        <div class="right"> 
                            <b>5500</b> руб/
                            <span>8</span> занятий 
                            / <span>1</span> час 
                              <span>30</span> минут
                            / <span>2</span> раза в неделю
                        </div>
                    </li>
                    <li>
                        <div class="left">Группа выходного дня до <span>6</span> человек </div>
                        <div class="right"> 
                            <b>4600</b> руб/
                            <span>8</span> занятий 
                            / <span>1</span> час 
                              <span>30</span> минут
                            / <span>1</span> раз в неделю
                        </div>
                    </li>
                </ul>
            </div>
            <div class="after-button">
                <a href="#call-popup" class="supper-button fancybox-form"> 
                    <span>ЗАКАЗАТЬ</span>
                </a>
            </div>
        </div>
    </div>
</div>
