<div class="block3-wrap block9">
    <div class="contein-row last-row">
        <div class="block-text left-text">
            <div class="convert-texter">
                <div class="head-text">Занятия по раннему развитию состоят из:</div>
                <ul>
                    <li data-aos="fade-left" data-aos-delay="400"> <b>Двигательная часть </b> - крупная и мелкая моторика, координация движений, 	занятия с мячами, обручами, массажными дорожками, подвижные игры, музыкальные минутки.</li>
                    <li data-aos="fade-left" data-aos-delay="800"> <b>Интеллектуальная часть</b> - игры на словарный запас, музыкально-речевые игры, 	знакомство с окружающим миром, игры на познавательные процессы, 	логические игры.</li>
                    <li data-aos="fade-left" data-aos-delay="1200"> <b>Творческая часть</b> - работа с различными материалами: краски, пластилин, 	цветная бумага, соленое тесто, природный материал.</li>
                    <li data-aos="fade-left" data-aos-delay="1600"> <b>Эмоциональная часть</b> - эмоциональная сфера, сказка, кукольный театр.</li>
                </ul>
            </div>
        </div>

        <div class="block-image right">
            <img src="images/plashka-9.jpg" alt="">
        </div>
    </div> 
</div>