<div class="block2-wrap special-5" id="lego">
    <div class="conteiner" data-aos="fade-up" >
        <div class="title-text">
            <h2>Шахматы для детей </h2>
        </div>
        <div class="after">
            <div class="texter">
                <p> <b> Еще одно направление нашего центра – шахматы для детей.</b> <br/> Этот вид деятельности способствует развитию математических способностей, учит логически мыслить, правильно оценивать результат своих действий, самостоятельно принимать решения. </p>
            </div>
        </div>
    </div>
    <div class="block3-wrap">
        <div class="contein-row">
            <div class="block-image left">
                <img src="images/plashka-3.jpg" alt="">
            </div>
            <div class="block-text right-text">
                <div class="convert-texter" data-aos="fade-left" >
                    <div class="title-row"> Но и это еще не все!  </div>
                    <div class="detail">Великий педагог <br/> <b>Василий Александрович Сухомлинский</b> <br/> писал: </div>
                    <div class="after-red"> «Без шахмат нельзя представить полноценного воспитания умственных способностей и памяти». </div>
                </div>
            </div>
        </div>
        <div class="contein-row last-row">
            <div class="block-text left-text">
                <div class="convert-texter" data-aos="fade-right">
                    <div class="text-alone">
                        <p> <b>Игра в шахматы позволяет расширить кругозор,</b> научит философски относиться к неудачам и делать правильные выводы из своих поражений. Занятия развивают личностные качества, которые позволяют быть успешным и в обычной жизни: внимательность, собранность, усидчивость и сила воли. </p>
                        <p> <b>Шахматы – интеллектуальное увлечение,</b> которое человек может открыть еще в раннем детстве, и пронести любовь к нему через всю жизнь. Занятия в центре ведут опытные педагоги, которые любят детей, внимательно относятся к их проблемам и помогают раскрыть ценные индивидуальные качества каждого ребенка.</p>
                    </div>
                </div>
            </div>

            <div class="block-image right">
                <img src="images/plashka-4.jpg" alt="">
            </div>
        </div>
    </div>
</div>
