<div class="block2-wrap block8" id="young1">
    <div class="conteiner">
        <div class="title-text">
            <h2> Раннее развитие (2-3 года) </h2>
        </div>
        <div class="after">
            <div class="texter">
                <p> <b> Эти занятия предполагают активное участие родителей. <br/> Ведь это важно: когда ребенок видит, что мама с увлечением выполняет задания, он сам стремится ей подражать.  </b></p>
                <p>В качестве помощи мы предлагаем родителям познакомиться со способами раннего развития,  узнать, чем заниматься с ребенком самостоятельно.</p>
            </div>
        </div>
    </div>
</div>