<div class="block3-wrap block12">
    <div class="contein-row">
        <div class="block-image">
            <img src="images/child-1.jpg" alt="">
        </div>
        <div class="block-text right-text">
            <div class="convert-texter">
                <div class="some-text">Занятия состоят из:</div>
                <ul>
                    <li> <b>Знакомства с буквами. </b></li>
                    <li> <b>Интеллектуальные игры на логическое мышление, внимание, память. </b></li>
                    <li> <b>Сообщение энциклопедических знаний об окружающем мире, сопровождающееся развитием мыслительных способностей.</b> </li>
                    <li> <b>Работа с речью </b> - (логопедические упражнения, игры на расширение словарного запаса, речевого внимания; пересказ).</li>
                    <li> <b>Работа с числами:</b>- пересчет, узнавание количественного и графического образа числа, решение примеров и задач.</li>
                    <li> <b>Мелкая моторика, подготовка руки к письму.</b></li>
                    <li> <b>Фонетическая ритмика.</b></li>
                    <li> <b>Продуктивные виды деятельности</b> - (лепка, аппликация, рисование, изготовление поделок, конструирование). </li>
                </ul>
            </div>
        </div>
    </div>        
</div>