<div class="block1-wrap">
    <div class="conteiner">
        <div class="item" data-aos="fade-right">
            <div class="left-m">
                <img src="images/b1-i.png" alt="">
            </div>
            <div class="right-m">
                <p>Мы исповедуем индивидуальный подход к каждому из наших воспитанников и учитываем все личностные особенности и индивидуальные склонности детей.</p>
                <p>Программа построена таким образом, чтобы максимально раскрыть детские способности и таланты, развить интеллект, научить плодотворному общению и сотрудничеству.</p>
            </div>
        </div>
        <div class="item" data-aos="fade-left">
            <div class="left-m">
                <img src="images/b1-i.png" alt="">
            </div>
            <div class="right-m">
                <p>Детский развивающий центр приглашает детей на увлекательные занятия, которые позволят подготовиться к школьному обучению и будут способствовать развитию личных способностей и талантов, креативного мышления, развитию речи и коммуникативных навыков.</p>
            </div>
        </div>
    </div>
</div>