<div class="block4">
    <div class="conteiner">
        <div class="wrap-box">
            <div class="title-row"> Стоимость занятий по программе <span>Lego Education</span> </div>
            <div class="sheets">
                <ul>
                    <li>
                        <div class="left">Группа до <span>6</span> человек </div>
                        <div class="right"> 
                            <b>4500</b> руб/
                            <span>8</span> занятий 
                        </div>
                    </li>
                    <li>
                        <div class="left">Группа до <span>4</span> человек </div>
                        <div class="right"> 
                            <b>6500</b> руб/
                            <span>8</span> занятий 
                        </div>
                    </li>
                    <li>
                        <div class="left">Группа до <span>2</span> человек </div>
                        <div class="right"> 
                            <b>8500</b> руб/
                            <span>8</span> занятий 
                        </div>
                    </li>
                    <li>
                        <div class="left"> Индивидуальные занятия  </div>
                        <div class="right"> 
                            <b>1600</b> руб/
                            за <span> 60 </span> минут
                        </div>
                    </li>
                    <li>
                        <div class="left"> Интерактивная комната  </div>
                        <div class="right">
                            <b>500</b> руб/
                            за <span> 30 </span> минут
                        </div>
                    </li>
                </ul>
            </div>
            <div class="after-button">
                <a href="#call-popup" class="supper-button fancybox-form"> 
                    <span>ЗАКАЗАТЬ</span>
                </a>
            </div>
        </div>
    </div>
</div>