<div class="block2-wrap">
    <div class="conteiner">
        <div class="title-text">
            <h2>Что мы предлагаем? </h2>
        </div>
        <div class="after">
            <div class="texter">
                <p> <b> В нашем центре проводятся развивающие занятия для детей с использованием программы  <a href="#">LEGO® Education </a> и также в специально оборудованной интерактивной комнате. </b></p>
                <p>Эта уникальная система была разработана специалистами по дошкольной педагогике и учитывает возрастные особенности ребенка и его потребности.</p>
            </div>
        </div>
    </div>
</div>