<div class="block3-wrap">
    <div class="contein-row">
        <div class="block-image left">
            <img src="images/plashka-1.jpg" alt="">
        </div>
        <div class="block-text right">
            <div class="convert-texter">
                <div class="title-text">
                    <h2>LEGO &reg; Education </h2>
                </div>
                <div class="some-text">С помощью технологии <span> LEGO &reg; Education</span> задействовано 5 образовательных областей:</div>
                <ul>
                    <li>Математика для детей.</li>
                    <li>Языковые навыки.</li>
                    <li>Социально-эмоциональная сфера.</li>
                    <li>Окружающий мир.</li>
                    <li>Творческое познание окружающего мира.</li>
                </ul>
            </div>
        </div>
    </div>
</div>