<div class="block2-wrap block7" id="young0">
    <div class="conteiner">
        <div class="title-text">
            <h2> Раннее развитие </h2>
        </div>
        <div class="after">
            <div class="lister" data-aos="fade-up" >
                <ul>
                    <li> Раннее развитие ( <span>2-3 года </span> ) </li>
                    <li> Раннее развитие ( <span>2-3 года </span> ) </li>
                    <li> Скоро в школу </li>
                </ul>
            </div>
        </div>
    </div>
</div>
