<section id="kindergarden-block5-wrap">
    <div class="mbox">
        <div class="kindergarden-block5">
            <div class="title-text">
                <h2>В качестве дополнительного языка можна выбрать</h2>
            </div>
            <div class="types-language">
                <div class="type-lg">
                    <div class="row1 row"><img src="images/lg-1.png" alt=""></div>
                    <div class="row2 row"><span>Французкий язык</span></div>
                    <div class="row3">
                        <div class="row rowh"><span>Lorem ipsum color</span></div>
                        <div class="row rowh"><span>Lorem ipsum color</span></div>
                        <div class="row rowh"><span>Lorem ipsum color</span></div>
                        <div class="row"><span>Lorem ipsum color</span></div>
                    </div>
                    <div class="row4 row">
                        <a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="type-lg">
                    <div class="row1 row"><img src="images/lg-2.png" alt=""></div>
                    <div class="row2 row"><span>Немецкий язык</span></div>
                    <div class="row3">
                        <div class="row rowh"><span>Lorem ipsum color</span></div>
                        <div class="row rowh"><span>Lorem ipsum color</span></div>
                        <div class="row rowh"><span>Lorem ipsum color</span></div>
                        <div class="row"><span>Lorem ipsum color</span></div>
                    </div>
                    <div class="row4 row">
                        <a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="type-lg">
                    <div class="row1 row"><img src="images/lg-3.png" alt=""></div>
                    <div class="row2 row"><span>Китайский язык</span></div>
                    <div class="row3">
                        <div class="row rowh"><span>Lorem ipsum color</span></div>
                        <div class="row rowh"><span>Lorem ipsum color</span></div>
                        <div class="row rowh"><span>Lorem ipsum color</span></div>
                        <div class="row"><span>Lorem ipsum color</span></div>
                    </div>
                    <div class="row4 row">
                        <a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="type-lg">
                    <div class="row1 row"><img src="images/lg-4.png" alt=""></div>
                    <div class="row2 row"><span>Японский язык</span></div>
                    <div class="row3">
                        <div class="row rowh"><span>Lorem ipsum color</span></div>
                        <div class="row rowh"><span>Lorem ipsum color</span></div>
                        <div class="row rowh"><span>Lorem ipsum color</span></div>
                        <div class="row"><span>Lorem ipsum color</span></div>
                    </div>
                    <div class="row4 row">
                        <a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="type-lg">
                    <div class="row1 row"><img src="images/lg-5.png" alt=""></div>
                    <div class="row2 row"><span>Испанский язык</span></div>
                    <div class="row3">
                        <div class="row rowh"><span>Lorem ipsum color</span></div>
                        <div class="row rowh"><span>Lorem ipsum color</span></div>
                        <div class="row rowh"><span>Lorem ipsum color</span></div>
                        <div class="row"><span>Lorem ipsum color</span></div>
                    </div>
                    <div class="row4 row">
                        <a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="type-lg">
                    <div class="row1 row"><img src="images/lg-6.png" alt=""></div>
                    <div class="row2 row"><span>Итальянский язык</span></div>
                    <div class="row3">
                        <div class="row rowh"><span>Lorem ipsum color</span></div>
                        <div class="row rowh"><span>Lorem ipsum color</span></div>
                        <div class="row rowh"><span>Lorem ipsum color</span></div>
                        <div class="row"><span>Lorem ipsum color</span></div>
                    </div>
                    <div class="row4 row">
                        <a href="#">Подробнее</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>