<section id="features">
	<div class="mbox">	
		<div class="title-text">
	        <h2>НАШИ ОСОБЕННОСТИ</h2>
	    </div>
	    <div class="under-titele-text">
	    	<p>Много времени на свежем воздухе</p>
	    </div>
	    <div class="squares-container">
	    	<div class="square-wrap">
	    		<div class="square">
	    			<div class="aquare-heading">
	    				<h3>Новые знания</h3>
	    			</div>
	    			<div class="main-contain">
	    				<p><b>Все уроки  проводят в игровой форме,</b> и в процессе занятий ребенок совершенно естественно получает новые знания и овладевает важными навыками, которые пригодятся ему во время школьного обучения.</p>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="square-wrap">
	    		<div class="square">
	    			<div class="aquare-heading">
	    				<h3>Опытные педагоги</h3>
	    			</div>
	    			<div class="main-contain">
	    				<p><b>Занятия проводят опытные педагоги,</b> которые учитывают возрастные особенности ребенка и умеют заинтересовать детей и найти индивидуальный подход к каждому из малышей. </p>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="square-wrap">
	    		<div class="square">
	    			<div class="aquare-heading">
	    				<h3>Режим дня</h3>
	    			</div>
	    			<div class="main-contain">
	    				<p><b>Режим дня построен таким образом,</b> чтобы у ребенка было достаточно времени не только для развивающих занятий, но и для творчества, общения, свободных игр.</p>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="square-wrap">
	    		<div class="square">
	    			<div class="aquare-heading">
	    				<h3>Развитие ребенка </h3>
	    			</div>
	    			<div class="main-contain">
	    				<p><b>В нашем дошкольном учреждении</b> огромное внимание уделяется интеллектуальному, психологическому и физическому развитию ребенка.</p>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="square-wrap">
	    		<div class="square">
	    			<div class="aquare-heading">
	    				<h3>Дети учатся </h3>
	    			</div>
	    			<div class="main-contain">
	    				<p><b>Дети учатся общаться и сотрудничать,</b> познают себя и окружающий мир.</p>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>
</section>