<div class="kindergarden-block10-wrap">
    <div class="mbox">
         <div class="title-text">
            <h2>Правила записи в детский сад «lingua world» </h2>
        </div>
        <div class="kindergarden-block10-mainlist">
            <ul>
                <li><b>- заявление о приеме ребенка</b> (с внесением годового взноса***);</li>
                <li><b>- заключение договора</b> (обращаться к администрации);</li>
                <li><b>- свидетельство о рождении</b> (копия);</li>
                <li><b>- Паспорт родителей</b> (копии);</li>
                <li><b>- выписка из медицинской карты от педиатра</b><br> 
   (о наличии хронических заболеваний, противопоказаний и прививок);</li>
                <li><b>- медицинская справка от педиатра</b><br> 
   (о наличии контакта с инфекционными больными).</li>
            </ul>
        </div>
        <div class="kindergarden-block10-exeptionslist">
            <ul>
                <li>без внесенного годового взноса ребенок в списки не зачисляется</li>
                <li>в случае отказа от зачисления ребенка в центр годовой взнос возвращается</li>
                <li>перерасчет годового взноса осуществляется до марта месяца</li>
            </ul>
        </div>
    </div>
</div>