<section id="additional-training">	
	<div class="mbox">
		<div class="title-text">
	        <h2>При желании родителей</h2>
	    </div>
	    <div class="under-titele-text">
	    	<p>За дополнительную плату проводятся занятия:</p>
	    </div>
	    <div class="lessons-container">	
			<div class="lesson" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="500">
				<div class="image-wrap">
					<img src="images/lesson-images4.png" alt="">
				</div>
				<div class="transparent-butt">
					<p>ИЗУЧЕНИЕ ВТОРОГО ЯЗЫКА</p>
				</div>
				<div class="under-butt">
					<p></p>
				</div>
			</div>
			<div class="lesson" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1000">
				<div class="image-wrap">
					<img src="images/lesson-images5.png" alt="">
				</div>
				<div class="transparent-butt">
					<p>ИНДИВИДУАЛЬНЫЕ ЗАНЯТИЯ С ЛОГОПЕДОМ</p>
				</div>
				<div class="under-butt">
					<p>постановка звуков, коррекция проблем с нарушением звуковосприятия и т. д.</p>
				</div>
			</div>
			<div class="lesson" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1500">
				<div class="image-wrap">
					<img src="images/lesson-images6.png" alt="">
				</div>
				<div class="transparent-butt">
					<p>ДОПОЛНИТЕЛЬНАЯ ПОДГОТОВКА К ШКОЛЕ</p>
				</div>
				<div class="under-butt">
					<p>предусматривающая углубленную расширенную программу</p>
				</div>
			</div>
	    </div>
	</div>
</section>