<section id="short-group">
    <img class="baterfly" src="images/baterfly1.png">
    <div class="block3-wrap short-group">
            <div class="contein-row">
                <div class="block-image left">
                    <img src="images/group-background.jpg" alt="">
                </div>
                <div class="block-text right-text">
                    <div class="convert-texter">
                        <div class="title-text">
                            <h2>Группа кратковременного пребывания </h2>
                        </div>
                        <div class="some-text"> Занятия проводятся  <span>5</span> раз в неделю с <span>9-00</span> до <span>13-00</span></div>
                        <ul>
                            <li>Комплексное общеразвивающее занятие</li>
                            <li>Изо-студия</li>
                            <li>Музыкально-ритмическое занятие</li>
                            <li>Развитие речи</li>
                            <li>Английский язык</li>
                        </ul>
                        <div class="some-text"> Разовое занятие - <span>1000 руб.</span> </div>
                        <div class="some-text"> Абонемент на месяц - <span>13 000 руб.</span> </div>
                    </div>
                </div>
            </div>         
    </div>
</section>
