<section id="short-group">
    <img class="baterfly" src="images/baterfly1.png" data-aos="fade-up"  data-aos-delay="3000" data-aos-once="true">
    <div class="block3-wrap short-group">
            <div class="contein-row">
                <div class="block-image left">
                    <img src="images/group-background.jpg" alt="">
                    <img src="images/group-background3.jpg" class="group-mobile">
                </div>
                <div class="block-text right-text">
                    <div class="convert-texter" data-aos="fade-left"  data-aos-delay="300" data-aos-once="true">
                        <div class="title-text">
                            <h2>Группа кратковременного пребывания </h2>
                        </div>
                        <div class="some-text"> Занятия проводятся  <span>5</span> раз в неделю с <span>9-00</span> до <span>13-00</span></div>
                        <ul>
                            <li data-aos="fade-left"  data-aos-delay="1000" data-aos-once="true">Комплексное общеразвивающее занятие</li>
                            <li data-aos="fade-left"  data-aos-delay="1500" data-aos-once="true">Изо-студия</li>
                            <li data-aos="fade-left"  data-aos-delay="2000" data-aos-once="true">Музыкально-ритмическое занятие</li>
                            <li data-aos="fade-left"  data-aos-delay="2500" data-aos-once="true">Развитие речи</li>
                            <li data-aos="fade-left"  data-aos-delay="3000" data-aos-once="true">Английский язык</li>
                        </ul>
                        <div class="some-text"> Разовое занятие - <span>1000 руб.</span> </div>
                        <div class="some-text"> Абонемент на месяц - <span>13 000 руб.</span> </div>
                    </div>
                </div>
            </div>         
    </div>
</section>
