<section id="kindergarden-block10-wrap">
    <div class="mbox">
        <div class="kindergarden-block10">
            <div class="title-text" data-aos="flip-up">
                <h2>Правила записи в детский сад «lingua world» </h2>
            </div>
            <div class="kindergarden-block10-mainlist">
                <ul>
                    <li data-aos="fade-left" data-aos-delay="300"><b>- заявление о приеме ребенка</b> (с внесением годового взноса***);</li>
                    <li data-aos="fade-left" data-aos-delay="600"><b>- заключение договора</b> (обращаться к администрации);</li>
                    <li data-aos="fade-left" data-aos-delay="900"><b>- свидетельство о рождении</b> (копия);</li>
                    <li data-aos="fade-left" data-aos-delay="1200"><b>- Паспорт родителей</b> (копии);</li>
                    <li data-aos="fade-left" data-aos-delay="1500"><b>- выписка из медицинской карты от педиатра</b>
                        <br>  (о наличии хронических заболеваний, противопоказаний и прививок);</li>
                    <li data-aos="fade-left" data-aos-delay="1800"><b>- медицинская справка от педиатра</b>
                        <br>  (о наличии контакта с инфекционными больными).</li>
                </ul>
            </div>
            <div class="kindergarden-block10-exeptionslist" data-aos="flip-up" data-aos-delay="2100">
                <ul>
                    <li>без внесенного годового взноса ребенок в списки не зачисляется</li>
                    <li>в случае отказа от зачисления ребенка в центр годовой взнос возвращается</li>
                    <li>перерасчет годового взноса осуществляется до марта месяца</li>
                </ul>
            </div>
        </div>
    </div>
</section>