<section id="program2">
	<div class="mbox">
		<div class="title-text">
	        <h2>НАША ПРОГРАММА</h2>
	    </div>
	    <div class="box-container">
	    	<div class="box" data-aos="fade-left"  data-aos-delay="500">
	    		<div class="image-wrap">
	    			<img src="images/children-image1.png">
	    		</div>
	    		<div class="text-container">
	    			<p>В нашем центре используются методики, которые созданы специально для дошкольников. </p>
	    		</div>
	    	</div>
	    	<div class="box" data-aos="fade-left"  data-aos-delay="1000">
	    		<div class="image-wrap">
	    			<img src="images/children-image2.png">
	    		</div>
	    		<div class="text-container">
	    			<p>Педагоги проводят обучения в интерактивной форме.</p>
	    		</div>
	    	</div>
	    	<div class="box" data-aos="fade-left"  data-aos-delay="1500">
	    		<div class="image-wrap">
	    			<img src="images/children-image3.png">
	    		</div>
	    		<div class="text-container">
	    			<p>Дети активно вовлечены в обучающий процесс и  осваивают новые материалы через движение, песенки, сюжетные игры, занимательные истории.</p>
	    		</div>
	    	</div>
	    	<div class="box" data-aos="fade-left"  data-aos-delay="2000">
	    		<div class="image-wrap">
	    			<img src="images/children-image4.png">
	    		</div>
	    		<div class="text-container">
	    			<p>Занятия по английскому языку проводятся ежедневно, продолжительность урока 20-30 минут в зависимости от возраста учеников</p>
	    		</div>
	    	</div>
	    </div>
	</div>
</section>