<section class="our_groups" id="our_groups">
    <div class="mbox">
        <div class="our_groups_wrap">
            <div class="title-text">
                <h2>Наши группы</h2>
            </div>
            <div class="sub-title">
                <p>В центре будут работать две возрастные группы:</p>
            </div>
            <div class="two-images">
                <div class="item item-1" data-aos="flip-left"  data-aos-once="true">
                    <div class="item-img"><img src="images/our_groups_img_1.png" alt=""></div>
                    <div class="item-plashka"><span>От 1.5 до 3 лет</span></div>
                </div>
                <div class="item item-2" data-aos="flip-right"  data-aos-once="true">
                    <div class="item-img"><img src="images/our_groups_img_2.png" alt=""></div>
                    <div class="item-plashka"><span>  От 4 до 7 лет</span></div>
                </div>
            </div>
            <div class="our_groups_text">
                <div class="item" data-aos="fade-right"  data-aos-delay="500" data-aos-once="true">
                    <p><span>Мы решили создать разновозрастные группы,</span> поскольку именно такая форма способствует наилучшей социальной адаптации ребенка. </p>
                </div>
                <div class="item" data-aos="fade-left"  data-aos-delay="500" data-aos-once="true">
                    <p><span>Программа построена таким образом,</span> чтобы максимально раскрыть детские способности и таланты, развить интеллект, научить плодотворному общению и сотрудничеству. </p>
                </div>
                <div class="item" data-aos="fade-right"  data-aos-delay="1500" data-aos-once="true">
                    <p><span>На примере старших детей, младшие быстрее осваивают правила поведения в детском саду,</span> быстрее осваивают важные навыки самообслуживания, получают мощный стимул к обучению.</p>
                </div>
                <div class="item" data-aos="fade-left"  data-aos-delay="1500" data-aos-once="true">
                    <p><span>В свою очередь, в старших детях формируется чувство ответственности,</span> повышается уровень уверенности в себе (ведь они являются примером для маленьких), осваивает разные уровни социального поведения.</p>
                </div>
                <div class="item" data-aos="fade-right"  data-aos-delay="2500" data-aos-once="true">
                    <p><span>Мы приглашаем всех родителей,</span> которые хотят, чтобы ребенок пребывал в доброй и радостной атмосфере, успешно овладевал знаниями и в самом раннем возрасте получил важные социальные навыки, которые будут важны и во взрослой жизни! </p>
                </div>
                <div class="item" data-aos="fade-left"  data-aos-delay="2500" data-aos-once="true">
                    <p><span>В наших группах мало детей,</span> поэтому педагоги имеют возможность достаточно внимания уделять каждому ребенку. Мы учитываем все личностные особенности и индивидуальные склонности детей и помогаем преодолевать любые трудности.</p>
                </div>
            </div>
            <div class="our_groups_price">
                <div class="our_groups_price_wrap">
                    <div class="our_groups_price_title"><span>СТОИМОСТЬ</span></div>
                    <div class="our_groups_price_row">
                        <div class="left">
                            Стоимость пребывания в детском саду с <span>7:00</span> до <span>19:00</span>
                        </div>
                        <div class="right">
                            <b>30 000</b> руб/в месяц
                        </div>
                    </div>
                    <div class="our_groups_price_row">
                        <div class="left">
                            Пребывание ребенка после <span>19:00 </span>
                        </div>
                        <div class="right">
                            <b>500</b> руб/час
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>