<section id="school-training">	
	<div class="mbox">
		<div class="title-text">
	        <h2>Помимо углубленного изучения английского языка</h2>
	    </div>
	    <div class="under-titele-text">
	    	<p>Частный детский сад  проводит занятия по подготовке к школе, в программу которых входит:</p>
	    </div>
	    <div class="lessons-container">	
			<div class="lesson" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="500">
				<div class="image-wrap">
					<img src="images/lesson-images1.png" alt="">
				</div>
				<div class="transparent-butt">
					<p>ОКРУЖАЮЩИЙ МИР</p>
				</div>
				<div class="under-butt">
					<p></p>
				</div>
			</div>
			<div class="lesson" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="1000">
				<div class="image-wrap">
					<img src="images/lesson-images2.png" alt="">
				</div>
				<div class="transparent-butt">
					<p>РАЗВИТИЕ РЕЧИ</p>
				</div>
				<div class="under-butt">
					<p></p>
				</div>
			</div>
			<div class="lesson" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="1500">
				<div class="image-wrap">
					<img src="images/lesson-images3.png" alt="">
				</div>
				<div class="transparent-butt">
					<p>ПОДГОТОВУА К ШКОЛЕ</p>
				</div>
				<div class="under-butt">
					<p>Подготовка к чтению и к письму, навыки счета</p>
				</div>
			</div>
	    </div>
	</div>
</section>