<div class="st-page-wrapper">
    <div class="st-page">
        <div class="mbox">
            <div class="rows">
                <div class="row">
                    <a class="a1" href="/index.html">
                        <div class="row-img">
                            <img src="images/stp-3.jpg" alt="">
                        </div>
                        <span>Языковой центр</span>
                    </a>
                    <a class="a2" href="/kindergarden.html">
                        <div class="row-img">
                            <img src="images/stp-4.jpg" alt="">
                        </div>
                        <span>Детский сад</span>
                    </a>
                </div>
                <div class="row-center"><img src="images/stp-2.jpg" alt=""></div>
                <div class="row">
                    <a class="a3" href="#">
                        <div class="row-img row-img-other">
                            <img src="" alt="">
                        </div>
                        <span>Центр развития</span>
                    </a>
                    <a class="a4" href="#">
                        <div class="row-img">
                            <img src="images/stp-5.jpg" alt="">
                        </div>
                        <span>Кафетерий</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>